@import '../../mixins/dimensions.scss';

@media (max-width: $max-mobile-width) {
  .listings > div {
    > div:first-of-type {
      display: none;
    }
    > div.entries-container {
      width: 100%;
      > div.listings-entry > a {
        flex-direction: column;
        text-decoration: none;
        > div.image-container {
          width: 100%;
        }
        > div.text-container {
          width: 100%;
          table {
            display: none;
          }
          a.btn {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
