@import '../../mixins/dimensions.scss';

@media (max-width: $max-mobile-width) {
  .listing {
    header {
      align-items: flex-start;
      justify-content: space-between;
      width: 100vw;
      button {
        margin-right: 20px;
        margin-top: 6px;
      }
      > div {
        align-items: flex-start;
        flex-direction: column;
        max-width: 50vw;
        > div:last-of-type {
          margin-left: 10px;
          margin-top: 10px;
        }
        h6 {
        }
        p {
          &:first-of-type {
          }
          &:last-of-type {
          }
        }
      }
      > div > div:first-of-type {
      }
      > div > div:last-of-type {
      }
    }
    .main-content {
      img {
        width: 100vw;
      }
      > div {
        > div {
        }
        table {
          tr {
            td {
              &:nth-of-type(2n) {
              }
              &:nth-of-type(2n-1) {
              }
            }
          }
        }
      }
    }
    .main-content + div {
    }
    > img {
    }
    footer {
      width: 100vw;
      > div {
        width: calc(100vw - 180px);
      }
      a {
        float: left;
        margin-bottom: 10px;
        &:hover {
        }
      }
    }
  }
}
