{
  "env": {
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel",
      ],
      "plugins": [
        ["transform-define", "./env-config.js"],
        ["transform-decorators-legacy"],
        [
          "inline-import",
          {
            "extensions": [".css"]
          }
        ],
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "components": "./components"
            }
          }
        ]
      ]
    },

    "development": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel",
      ],
      "plugins": [
        ["transform-define", "./env-config.js"],
        ["transform-decorators-legacy"],
        ["styled-jsx/babel", { "plugins": ["styled-jsx-plugin-postcss"] }],
        [
          "inline-import",
          {
            "extensions": [".css"]
          }
        ],
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "components": "./components"
            }
          }
        ]
      ]
    },

    "production": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel",
      ],
      "plugins": [
        ["transform-define", "./env-config.js"],
        ["transform-decorators-legacy"],
        ["styled-jsx/babel", { "plugins": ["styled-jsx-plugin-postcss"] }],
        [
          "inline-import",
          {
            "extensions": [".css"]
          }
        ],
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "components": "./components"
            }
          }
        ]
      ]
    }
  },
}
