FACEBOOK_APP_ID=dummy-facebook-app-id
ACCOUNT_KIT_APP_SECRET=dummy-account-kit-app-secret
GOOGLE_MAPS_KEY=dummy-google-MAPS-KEY
AMPLITUDE_API_KEY=dummy-amplitude-api-key
SENTRY_DSN=https://dummy-sentry-pass@dummy-sentry.io/dummy-sentry-id
