@import '../mixins/dimensions.scss';

.listing {
  background: white;
  margin: 0 auto;
  width: $main-content-width;
  header {
    align-items: center;
    background: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    > div {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: $main-content-width / 3 * 2;
      h6 {
        font-weight: normal;
        font-size: 11px;
        margin: 0;
        text-transform: uppercase;
      }
      p {
        margin: 0;
        &:first-of-type {
          font-size: 18px;
        }
        &:last-of-type {
          font-size: 11px;
        }
      }
    }
    > div > div:last-of-type {
      font-weight: bold;
    }
  }
}
