@import 'mixins/color.scss';

header {
  background: white;
  padding: 10px;
  position: fixed;
  width: 100vw;
  z-index: 1;
  img {
    width: 110px;
  }
  > div {
    float: right;
    margin-right: 20px;
    a {
      color: $blue;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      &:visited {
        color: $blue;
      }
    }
  }
}
